@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.exploreNavigation {
  font-family: "Lilita One", cursive !important;
}

.exploreContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: "#fff";
  border-left: "2px solid #fff";
  border-right: "2px solid #fff";
  width: "55%";
  display: "flex";
  height: calc(100vh - 170px);

  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  overflow-y: "scroll";
  padding: "10px";
  /* overflow: auto;
  flex-grow: 1; /* Allow the content to grow and occupy the remaining height */
  /* overflow-y: auto; Add vertical scrolling when content overflows */
}
