@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.explorePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  background-color: #2a2a2a;
}

.exploreNavigation {
  font-family: "Lilita One", cursive !important;
}

.exploreContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.Part1kahumain {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.part1option {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-top: none;
  border-bottom: none;
}
.part1option1 {
  width: 20%;
}
.part1option3 {
  width: 30%;
}
.part1option2 {
  width: 50%;
}

.part1option2 {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.item{
  border: 2px solid #fff;
}