@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
.explorePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.exploreNavigation {
  font-family: "Lilita One", cursive !important;
}

.exploreContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: auto;
  flex-grow: 1; /* Allow the content to grow and occupy the remaining height */
  /* overflow-y: auto; Add vertical scrolling when content overflows */
}
