@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Concert+One&display=swap");
.landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0096ff;
  height: 100vh;
  font-family: "Concert One", cursive;
  font-size: 40px;
}
.part1,
.part2,
.part3,
.part4 {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
}
.part4 {
  background-color: #000;
  color: #fff;
  bottom: 0;
  position: fixed;
}
