@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Concert+One&display=swap");
.landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Images/LandingBG.jpg");
  background-repeat: none;
  height: 100vh;
  color: #fff;
  font-family: "Concert One", cursive;
}
.part1,
.part2,
.part3,
.part4 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.part2 {
  flex-direction: column;
  align-items: center;
}
.part4 {
  bottom: 0%;
  background-color: #000;
}
