@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

.seperator {
  margin-bottom: 30px;
  width: 200px;
  height: 2px;
  background: #777;
  border: none;
}

.ChapterPart {
  font-family: "Francois One", sans-serif;
  // font-family: "Passion One", sans-serif;
  // font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll; 
  margin-bottom: 40px;
  // height: calc(100vh - 100px);
}
.ChapterContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChapterCard {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 375px;
  max-width: 80%;
  padding: 2em 0;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
}

.ChapterCard::before,
.ChapterCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #0096ff;
  height: 4px;
}

.ChapterCard::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.ChapterCard::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.ChapterCard .Chaptercontent {
  width: 18em;
  width: 500px;
  max-width: 80%;
}

.ChapterCard .Chapterlogo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.ChapterCard .Chapterh6 {
  color: #999;
  // font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  // letter-spacing: 2px;
}

.ChapterCard .hover_Chaptercontent {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.ChapterCard .hover_Chaptercontent p {
  margin: 1.5em 0 0;
  font-size: 12px;
  color: #6e6e70;
  line-height: 1.4em;
}

.ChapterCard:hover {
  // width: 24em;
  width: 500px;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.ChapterCard:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.ChapterCard:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.ChapterCard:hover .Chapterlogo {
  margin-bottom: 0.5em;
}

.ChapterCard:hover .hover_Chaptercontent {
  max-height: 10em;
  transform: none;
}
.Chapterunit {
  display: flex;
  // width: 100vw;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.learn-more {
  position: absolute;
  margin-bottom: 20px;
  margin-top: 20px;
  left: 20px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  // font-family: inherit;
}

.learn-more {
  width: 12rem;
  height: auto;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0096ff !important;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #0096ff;
  // font-weight: 00;
  line-height: 1.6;
  text-align: center;
  // text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}

.goBackwala {
  color: #0096ff;
}
