@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
.Coursepart {
  background-color: #1e1e23;
}

.cpHEADING {
  font-family: "Concert One", cursive;
  color: #fff;
  text-align: center;
  font-size: 35px;
}

.cpCARDS {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
