@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
.Coursepart {
  background-color: #1e1e23;
  height: calc(100vh - 100px);
  /* height: 100%; */
  display: flex;
  align-items: center;
  
}

.cpHEADING {
  font-family: "Concert One", cursive;
  color: #fff;
  text-align: center;
  font-size: 35px;
}

.cpCARDS {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
