@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.exploreLearningpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lilita One", cursive;
  color: #3a3a3a;
}

.TrendingCourses {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}
