@keyframes logoPart4Slider {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

.logo-Part4Slider {
  display: inline-block;
  animation: logoPart4Slider 30s 1s infinite linear;
}

.logo-Part4Slider img {
  margin: 0 40px;
}

.Part4Slider {
  white-space: wrap;
  overflow-x: hidden;
  padding: 80px 0;
  position: relative;
  
}

.Part4Slider::before,
.Part4Slider::after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.Part4Slider::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.Part4Slider::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
